<div class="jumbotron" ng-init="test = 1234567890; mask= '+### (##) ###---##-##'">
  <form class="form">
      <div class="form-group">
          <label >Mask:</label>
          <select ng-model="mask">
            <option value="+### (##) ###-####">+### (##) ###-####</option>
            <option value="+## (###) ###-####">+## (###) ###-####</option>
            <option value="+# (####) #####-##">+# (####) #####-##</option>
          </select>
      </div>
      <div class="form-group">
          <input class="form-control" type="text" eb-caret="car"  mask="{{mask}}" ng-model="test">
          <!--<div class="mask-placeholder"></div>-->
      </div>
    <div class="form-group">
      <label for="">Mask-phone</label>
      <input class="form-control" phone-mask phone-options="options" mask="{{options.mask}}" ng-model="test2">
      <!--<div class="mask-placeholder"></div>-->
    </div>
      <div class="form-group">
          <label for="">Mask-credit</label>
          <input class="form-control" mask="#### #### #### ####" ng-model="credit">
          <!--<div class="mask-placeholder"></div>-->
      </div>
    <div class="form-group">
      <label for="">Carret</label>
      <input class="form-control" ng-model="car.get"  ng-change="car.set = car.get">

      <!--<div class="mask-placeholder"></div>-->
    </div>
  </form>
</div>
